@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,700;0,900;1,900&display=swap');
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);


*{
  margin: 0 auto;
}

body {
  font-weight: 300;
  font-size: var(font-md);
}

.container {
  width: 80vw;
  text-align: center;
}

p {
  text-align: justify

}

/* .text-center {
  text-align: center;
} */


.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  margin-top: 8px;
  font-size: var(--font-xl);
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: var(--primary-2);
}

.img-circle {
  border-radius: 50%;
  padding: var(--sm);
  /* border: 1px  solid var(--primary-2); */
}


h1 {
 font-weight: 900;
 font-style: normal;
 text-transform: uppercase;
 font-size: var(--font-xl);
 color: var(--primary-1);
}

h2 {
  padding-bottom:var(--sm);
  color:var(--primary-700);
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
 }

 h3 {
  font-weight: 300;
 }

a {
 text-decoration: none;
 font-weight: 700;
}

.btn {
  margin: 10px;
  background-color: var(--neutral-1);
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  display: inline-block;
}
.btn:hover {
  background-color: var(--primary-2);
  color: white;
}
